@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.section {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
}
.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  max-width: 210px;
  border-radius: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.image-section img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.content-section .content .botton {
  margin-top: 20px;
  margin-bottom: 10px;
}
.content-section .content .botton a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .botton a:hover {
  background-color: #a52aa5;
  color: #fff;
}
.content-section .content .botton .read-more:hover {
  background-color: #3d3d3d;
  color: #fff;
}

.content-section .social {
  margin: 40px 40px;
}

.content-section .social i {
  color: #5d5d5d;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover {
  color: #a52aa5;
}
